@mixin font($fname, $fstyle, $fweight, $furl){
	@font-face{
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff2');
	}
}

@include font('raleway-st', normal, 400, '../fonts/raleway-v22-cyrillic-regular.woff2');
@include font('raleway-st', normal, 700, '../fonts/raleway-v22-cyrillic-700.woff2');
